.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button{
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.todo-item {
  background-color: #000000;
  color: #f0f0f0;
  width: 365px;
  padding: 3px;
  margin: 5px 0;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
}

.line_through{
  text-decoration: line-through;
}

.checkbox .icon {
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.todo-item div span{
  margin: 0px 5px 0px 4px;
}

.todo-item div .icon{
  cursor: pointer;
}